/* Denna fil skall innehålla din CSS kod */
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

nav { 
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
background-color: rgb(95, 74, 74);
font-family: sans-serif;
}

.navLinks { 
display: flex;
flex-direction: column;
justify-content: space-around;
position: absolute;
right: 0px;
height: 90vh;
top: 10vh;
background-color: rgb(95, 74, 74);
align-items: center;
width: 20%;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {

    list-style: none;
}

.navLinks a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px
}

.navLinks {
display: flex;
flex-direction: column;
justify-content: space-around;
position: absolute;
right: 0px;
height: 90vh;
top: -90vh;
background-color: rgb(95, 74, 74);
align-items: center;
width: 13rem;
transition: all 1s;
}

.burger div {
width: 25px;
height: 3px;
background-color: black;
margin: 5px;
border-radius: 10px;
transition: all 0,3s;
}



.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);

}
    

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate( -5px, -6px);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    font-family: sans-serif;
    grid-area: na;


}

.burger {
    margin-right: 50px;
    cursor: pointer;
}


footer {
 height: 220px;
 grid-area: ft;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border: black solid 1px;

}

section {
    height: 200px;
    grid-area: se;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
}

main {
grid-area: ma;
display: flex;
justify-content: center;
}

#wrapper {
    display: grid;
    grid-template-areas:
    'na na na'
    'se se se'
    'ma ma ma'
    'ft ft ft';
    ;
}


#yoga {
width: 600px;
height: 500px;

}

body {

background-image: url("../img/augustine-wong-li0iC0rjvvg-unsplash.jpg");
background-size: cover;

}

#insta {
width: 50px;
height: 50px;

}

#twitter {
width: 50px;
height: 50px;
}

#youtube {
    width: 50px;
    height: 50px;

}

#klä {
height: 400px;
display: flex;
justify-content: space-around;
margin-bottom: 15px;
margin-top: 50px;

}

#acc {
height: 500px;
display: flex;
justify-content: space-around;
margin-bottom: 40px;


}

#trojor {
 height: 400px;
 width: 300px;
 border: 1px solid black;
 

}

#byxor {
height: 400px;
width: 300px;
border: 1px solid black;


}

#sett {
    height: 400px;
    width: 300px;
    border: 1px solid black;

}

#upp {
font-size: 70px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid black;
border-radius: 10px;
margin: 20px;

}

#title {
font-size: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
position: absolute;
top: 15px;
right: 44%;
}

#mattor {
    height: 400px;
    width: 300px;
    border: 1px solid black;

}

#redskap {
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

#vatten {
    height: 400px;
    width: 300px;
    border: 1px solid black;
}

#yoy {
  font-size: 70px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid black;
border-radius: 10px;
margin: 20px;
}

#text1{
display: flex;
align-items:center;
flex-direction: column-reverse;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#text2 {
    display: flex;
    align-items:center;
    flex-direction: column-reverse;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

#text3 {
display: flex;
align-items:center;
flex-direction: column-reverse;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#text4 {
    display: flex;
    align-items:center;
    flex-direction: column-reverse;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#text5 {
 display: flex;
align-items:center;
flex-direction: column-reverse;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#text6 {
    display: flex;
    align-items:center;
    flex-direction: column-reverse;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#bott1 {
width: 50px;
height: 50px;
}

#bott2 {
width: 50px;
height: 50px;

}

#bott3 {
width: 50px;
height: 50px;

}

#fir{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;

}

#hatha{
height: 400px;
width: 500px;
margin: 30px;

}

#yin{

    height: 400px;
    width: 500px;
    margin: 30px;
}








#for{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

#yinflow{
height: 400px;
width: 500px;
margin: 30px;

}

#bikram{
    height: 400px;
    width: 500px;
    margin: 30px;
}


























