/* Denna fil skall innehålla din CSS kod */
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

nav { 
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
background-color: rgb(63, 141, 243);
font-family: sans-serif;
}

.navLinks { 
display: flex;
flex-direction: column;
justify-content: space-around;
position: absolute;
right: 0px;
height: 90vh;
top: 10vh;
background-color: rgb(63, 141, 243);
align-items: center;
width: 20%;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {

    list-style: none;
}

.navLinks a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px
}

.navLinks {
display: flex;
flex-direction: column;
justify-content: space-around;
position: absolute;
right: 0px;
height: 90vh;
top: -90vh;
background-color: rgb(63, 141, 243);
align-items: center;
width: 13rem;
transition: all 1s;
}

.burger div {
width: 25px;
height: 3px;
background-color: black;
margin: 5px;
border-radius: 10px;
transition: all 0,3s;
}



.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);

}
    

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate( -5px, -6px);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: rgb(38, 90, 233);
    font-family: sans-serif;
    grid-area: na;

}

.burger {
    margin-right: 50px;
    cursor: pointer;
}


footer {
 background-color: black;
 height: 220px;
 grid-area: ft;
}

section {
    height: 200px;
    background-color: blueviolet;
    grid-area: se;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
}

main {
    height: 300px;
    background-color: chocolate;
grid-area: ma;
}

#wrapper {
    display: grid;
    grid-template-areas:
    'na na na'
    'se se se'
    'ma ma ma'
    'ma ma ma'
    'ma ma ma'
    'ft ft ft'
    ;
}


















